**/*.pyc
**/*~
**/\#*
**/\:*
**/*.pyo
**/.idea
**/__pycache__
**/.ipynb_checkpoints
/build
*.egg-info
/dist
**/.DS_Store
**/npm-debug.log
**/.cache/
**/node_modules
**/.coverage
**/*.log
**/*.bak
nb/reports
**/latest_images
galileo/node_modules
